#output {
	width: 2000px;
	height: 2000px;
	position: absolute;
	left: 5px;
	background: black;
	z-index: 1;
}
#input {
	width: 200px;
	height: 500px;
	/*margin: 10px;*/
	/*float: right;*/
	position: absolute;
	background: black;
	right: 5px;
	z-index: 99;
	}
/*#fm {
	width: 200px;
	position: absolute;
	z-index: 100;
}*/
.joint {
	width: 150px;
	position: relative;
	top: 10px;
}
.lb {
	color: white;
	position: relative;
	top: 10px;
}
.btn1 {
	width: 80px;
	height: 30px;
	position: relative;
	top: 20px;
}
.coordination {
	width: 40px;
	position: relative;
	top: 10px;
	left: 10px;
}